<div class="card-panel">
	<div class="row" style="position: relative;">
		<div class="col s12">
			<ul class="collection">
				<li class="collection-item" ng-repeat="idea in ideas" ><!-- ng-repeat="idea in ideas.Idea" -->
					<div>
						<span class="title" style="font-size:18px; position:relative; top:5px">{{ idea.Title }}</span>
						<button  ng-click="editIdea(idea)" style="float:right; margin-left:10px" class="btn-floating btn-small waves-effect waves-light"> <!-- ng-click="editIdea(idea)" -->
						<i class="material-icons">edit</i>
						</button>
						<button  style="float:right" ng-click="delete(idea)" class="btn-floating btn-small orange darken-4 waves-effect waves-light"> <!-- ng-click="deleteIdea(idea)" -->
							<i class="material-icons">delete</i>
						</button>
					</div>
					
					
					<!-- <blockquote style="word-wrap: break-word;"></blockquote> <!-- {{idea.Title}} --> 
					<blockquote style="word-wrap: break-word;">{{ idea.Description }}
					</blockquote> <!-- {{idea.Description}} -->
    				
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="addIdeaModal" class="modal modal-fixed-footer">
	<form ng-submit="confirmAddIdea()" > <!-- ng-submit="confirmAddIdea()" -->
		<div class="modal-content">
	    	<h4>Criar ideia</h4>
	    	<div class="row">
	    		<div class="col s12 input-field">
	    			<i class="material-icons prefix">title</i>
	    			<input type="text" id="toAddTitle" ng-model="ideaForm.Title" required aria-required="true"> <!-- ng-model="toAddIdea.Title" -->
	    			<label for="toAddTitle">Título</label>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s12 input-field">
	    			<i class="material-icons prefix">description</i>
	    			<textarea type="text" id="toAddDescription" ng-model="ideaForm.Description" class="materialize-textarea"  /> <!-- ng-model="toAddIdea.Description" -->
	    			<label for="toAddDescription">Descrição</label>
	    		</div>
	    	</div>
	    </div>
	    <div class="modal-footer">
	    	<button type="submit" class="waves-effect waves-light btn-flat"><i class="material-icons right">add</i>adicionar</button>
	    </div>
	</form>
</div>

<div id="editIdeaModal" class="modal modal-fixed-footer">
	<form  ng-submit="confirmEditIdea()">
		<div class="modal-content">
	    	<h4>Editar ponto de ata</h4>
	    	<div class="row">
	    		<div class="col s12 input-field">
	    			<i class="material-icons prefix">title</i>
	    			<input type="text" id="editingTitle" ng-model="editingIdea.Title" required="" aria-required="true">
	    			<label for="editingTitle">Título</label>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s12 input-field">
	    			<i class="material-icons prefix">description</i>
	    			<textarea type="text" id="editingDescription" class="materialize-textarea" ng-model="editingIdea.Description" />
	    			<label for="editingDescription">Descrição</label>
	    		</div>
	    	</div>
	    </div>
	    <div class="modal-footer">
	    	<button type="submit" class="waves-effect waves-light btn-flat"><i class="material-icons right">save</i>salvar</button>
	    </div>
	</form>
</div>

<div id="deleteIdeaModal" class="modal">
	<div class="modal-content">
    	<h4>Remover "{{toDeleteIdea.Title}}"?</h4>
    	<p class="flow-text">Depois de deletada a ideia não pode ser recuperada.</p>
    </div>
    <div class="modal-footer">
    	<button id="deleteModalButton" ng-click="confirmDeleteIdea()" class="waves-effect waves-light btn-flat"><i class="material-icons right">close</i>remover</button>
    </div>
</div>

<div class="fixed-action-btn" style="bottom:20px;right:20px;">
	<button ng-click="addIdea()" style="position: fixed; right: 20px; bottom: 10px;" class="btn-floating btn-large waves-effect waves-light"> <!-- ng-click="addIdea()" -->
		<i class="material-icons">add</i>
	</button>
	
</div>

<!-- <a ng-click="toggleEditMode()" style="position: fixed; right: 20px; bottom: 10px;" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">edit</i></a> -->