<div class="col">
	<div class="row">
		<h1>Login</h1>
	</div>
	<div class="divider"></div>
	<form class="row">
		<div ng-if="errMsg" class="card-panel red">
			<span class="white-text">
				{{errMsg}}
			</span>
		</div>
		<div class="input-field col s12 m6">
			<input id="usernameInput" ng-model="user.username" type="text" name="username" required>
			<label for="usernameInput" >Usuário</label>
		</div>
		<div class="input-field col s12 m6">
			<input id="passwordInput" ng-model="user.password" type="password" name="password" required>
			<label for="passwordInput" >Senha</label>
		</div>

		<div class="row">
			<div class="col s6">
				<a class="modal-trigger waves-effect waves-light btn" href="#modalForgotPass" style="background-color: #e65100">Esqueci minha senha</a>
			</div>

			<div class="col s6">
				<button id="loginButton" ng-click="login(user)" type="submit" class="btn-flat right"><i class="material-icons right">send</i>Logar</button>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<a ui-sref="signup" class="btn">Candidato ?</a>
			</div>
		</div>
	</form>
</div>

<div id="modalForgotPass" class="modal modal-fixed-footer" style="border-radius: 10px !important; width: 50% !important; height: 70% !important;">
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<h4 class="center">Recuperar senha</h4>
				<div class="row margin">
					<div class="input-field col s12 m6 offset-m3">
						<i class="material-icons prefix">perm_identity</i>
						<input ng-model="userLogin" id="login" type="text">
						<label for="login">
							Login
						</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12 m6 offset-m3">
						<i class="material-icons prefix">email</i>
						<input ng-model="userEmail" id="email" type="text">
						<label for="email">
							E-mail
						</label>
					</div>
				</div>
			</form>
		</div>
			<div class="center-align">
 				<a ng-click="fpass(userLogin, userEmail)" class="modal-action modal-close waves-effect waves-light btn green">Recuperar Senha</a>
			</div>
	</div>

</div>
