<div class="row">
  <div class="col s12">
    <div class="card-panel white">
      <h1>
        {{selecao.Year}}
      </h1>
      <blockquote class="flow-text">
        {{selecao.Description}}
      </blockquote>
      <div class="divider" />
      <h3>
        Etapas
      </h3>
      <div class="collection">
        <a ng-repeat="etapa in selecao.Etapas" ui-sref="logged.selecao.etapa({selecaoId: selecao.Id, etapaId: etapa.Id})" class="collection-item">
          {{etapa.Description}}
          <span class="secondary-content"><i class="material-icons">{{etapa.CanUpdate === true ? 'lock_open' : 'lock'}}</i></span>
        </a>
      </div>
      <candidato-list candidatos="selecao.Candidatos" etapas="selecao.Etapas" to-delete="false" selecao-id="selecao.Id" />
    </div>
  </div>
</div>
</div>
<div class="fixed-action-btn" style="bottom:20px;right:20px;">
	<button class="btn-floating btn-large orange darken-4">
		<i class="material-icons">more_horiz</i>
	</button>
	<ul>
		<li><button class="btn-floating blue" ng-click="openModal('addEtapaModal')"><i class="material-icons">add</i></button></li>
		<li><button class="btn-floating green" ng-click="openModal('closeSelecaoModal')"><i class="material-icons"><span ng-if="selecao.IsOpen">lock</span><span ng-if="!selecao.IsOpen">lock_open</span></i></button></li>
	</ul>
</div>
<div class="modal" id="addEtapaModal">
  <div class="modal-content">
    <h1>Adicionar Etapa</h1>
    <div class="row">
      <div class="col s12 input-field">
        <input type="text" ng-model="toAddEtapa.Description" >
        <label>Descrição</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-flat waves-effect waves-teal" ng-click="addEtapa(toAddEtapa)">
      ADICIONAR
      <i class="material-icons right">add</i>
    </button>
  </div>
</div>
<div class="modal" id="closeSelecaoModal">
  <div class="modal-content">
    <h1><span ng-if="!selecao.IsOpen">Abrir</span><span ng-if="selecao.IsOpen">Fechar</span> Selecao</h1>
    <p class="flow-text" ng-if="selecao.IsOpen">Deseja realmente fechar essa seleção?</p>
    <p class="flow-text" ng-if="!selecao.IsOpen">Deseja realmente abrir essa seleção?</p>
  </div>
  <div class="modal-content" ng-if="selecao.IsOpen">
    <button class="btn-flat waves-effect waves-teal" ng-click="updateSelecaoIsOpen(false)">
      FECHAR
      <i class="right material-icons">
        close
      </i>
    </button>
  </div>
  <div class="modal-content right-align" ng-if="!selecao.IsOpen">
    <button class="btn-flat waves-effect waves-teal" ng-click="updateSelecaoIsOpen(true)">
      ABRIR
      <i class="right material-icons">
        save
      </i>
    </button>
  </div>
</div>
